<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.telecomitalia.my.aiutami" >

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Connessione Intranet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Upgrade -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Log in con numero -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="it.telecomitalia.my.aiutami.Welcome"
            android:label="@string/app_name"
            android:theme="@style/Welcome"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="it.telecomitalia.my.aiutami.IntranetServices"
            android:exported="false" >
        </service>
        <service
            android:name="it.telecomitalia.my.aiutami.ApplicationServices"
            android:exported="false" >
        </service>

        <activity
            android:name="it.telecomitalia.my.aiutami.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
